.article-header {
    padding-right: 2.71739130434783%;   /* 20px / 736px  */
    padding-bottom: 8.40336134453782%;  /* 10px / 119px */
}
.article-header-wide {
    padding-top: 16.80672268907563%;    /* 20px / 119px */
    padding-right: 3.26086956521739%;   /* 24px / 736px */
    padding-bottom: 16.80672268907563%; /* 20px / 119px */
    padding-left: 3.26086956521739%;    /* 24px / 736px */
}