/* 320 x 480 resolutions  */
    
/* Hide regions: 

div id header
    div class audience-nav
    div class search-form
div id topic-nav
div id main-content
    div class main-leftcol-outer
        div class main-leftcol
        div class main-maincol
        ul class breadcrumbs-list
        div class article-functions
div id = footer
    ul class social-links
*/

.audience-nav, .search-form, #topic-nav, .main-leftcol, .breadcrumbs-list, .article-functions, .social-links { display: none; }

/* Tweaks */
.main-leftcol-outer { background: #eee; }
.main-maincol { margin-left: 0;}

/* Remaining layout should be proportional to the screen. */ 
#page-outer {
    margin: 0 auto;
    width: 95%; /* Change container width from 1001px to 95% */
}

/* Normalize images */

.logo-outer { max-width: 100%; }


/* Switch from multiple columns to a single column 
    .col-one {
        float: none;
        width: 100%;
    }
*/
.article-header {
    width:100%;
    margin:0%;
}