/* 320 x 480 resolutions  */
    
/* Hide regions: 

div id header
    div class audience-nav
    div class search-form
div id topic-nav
div id main-content
    div class main-leftcol-outer
        div class main-leftcol
        div class main-maincol
        ul class breadcrumbs-list
        div class article-functions
div id = footer
    ul class social-links
*/

.audience-nav, .search-form, #topic-nav, .main-leftcol, .breadcrumbs-list, .article-functions, .social-links { display: none; }

/* Remaining layout should be proportional to the screen. */ 

#page-outer {
    margin: 0 auto;
    width: 98%; /* Change container width from 1001px to 95% */
}
#main {
    margin: 0 0;
}

.main-leftcol-outer { background: #eee; }
.main-maincol { margin-left: 0px; padding-bottom: 0px;}


/* Normalize images */

.logo-outer { max-width: 75%; }