
  /* Troubleshooting: Puts a thick green outline around this element.
.social-links .title { outline:#00FF00 dotted thick; } */
  
/* 1920×1024 resolutions */
@media screen and (max-width: 1920px) {
    /*
        I focused on the smartphone screen resolution as I'm not sure
        how our design should be enhanced for widescreens.
    */
}
  
/* 1280 × 1024 resolutions */
@media screen and (max-width: 1020px) {
    
    #page-outer {
      margin: 0 auto;
      width: 95%; /* Change container width from 1001px to 95% */
    }
    .logo-outer img { max-width:100%; }
    .main-banner img { max-width:100%; }
    .main-leftcol {
      float: left;
      width: 20.679320679320679320679320679321%;
      padding-bottom: 40px;
    }
    .main-maincol {
      margin-left: 20.679320679320679320679320679321%; /* 207px; */
      padding-bottom: 40px;
    }
    .article-header { padding: 0px 0px; }
    .article-aside {
      float: right;
      width: 35.264483627%; /* 280px / 794px */
    }
    #topic-nav {
      margin: 0 auto;
      width: 100%; /* @stewartfoss: width: 951px; */
      height: 50px; /* @stewartfoss: 50px; */
    }
    .aside-widget-narrow {
      margin: 0 auto 20px;
      /*width: 19.98001998%;  @stewartfoss: 200px/1001px */
    }
}
  
/* 1024 x 768 resolutions */
@media screen and (max-width: 768px) {
    /*.main-banner { overflow: hidden; }*/
}
  
/* 320 x 480 resolutions  */
@media screen and (max-width: 480px) {
    
    .logo-outer { max-width: 100%; }
    .audience-nav { display: none; }
    .search-form { display: none; }
    .main-banner { display: none; }
    .social-links .title { display: none; }

    /* Switch from multiple columns to a single column 
    .col-one {
        float: none;
        width: 100%;
  }*/
    .article-header {
        width:100%;
        margin:0%;
    }
}