/*** Reset and Restore *******************************************************/
.columnCopy {padding: 5px 10px; background-color: #eeeeee; }
body{font-size:76%;line-height:1;}
body,div,dt,dd,li,input,textarea,th,td{margin:0;padding:0}
p,dl,ul,ol,menu,dir,pre,form,fieldset,blockquote{margin:1em 0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,code,strong{font-style:normal;font-weight:400}
caption{font-style:italic;font-weight:400;text-align:left}
cite,dfn,em,var{font-style:italic;font-weight:400}
strong,th{font-style:normal;font-weight:700}
th{text-align:left}

,h2,h3,h4,h5,h6{font-size:100%;font-weight:700;padding:0}
q:before{content:open-quote}
q:after{content:close-quote}
abbr[title],acronym[title]{border-bottom:1px dotted}
fieldset{border:1px solid;margin:0;padding:0}
li,dd{margin-left:1.5em}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
img,abbr,acronym{border:0}
@media print {
  body{color:#000;font-size:9pt}
  a{color:#00f;text-decoration:underline} }

/*** Generic Layout Styles ***************************************************/
.hide{display:none}
/*--- Even-Width Column Layouts ---*/
.col-outer{overflow:hidden}
.col-outer-alt{overflow:visible;}
.col-outer .col{float:left}
.two-col-outer .col{width:50%}
.three-col-outer .col{width:33.3%}
.four-col-outer .col{width:25%}
.five-col-outer .col{width:20%}
.col-inner{margin:0 1em}
.col:first-child .col-inner{margin-left:0}
.col:last-child .col-inner{margin-right:0}
/*--- List styles ---*/
.inline-list{display:inline;list-style-type:none;margin:0;padding:0}
.inline-list li{display:inline;margin:0;padding:0}
.centered-list-outer{float:left;position:relative;left:50%}
.centered-list{position:relative;left:-50%}
.cell-list li{display:table-cell;vertical-align:middle;text-align:center;padding:0 .5em}
.cell-list li .text,.cell-list li a{display:inline-block}

/*--- Homepage Top Text ---*/

.learnbutton {
  display:block;
  width:47px;
  height:22px;
  position:absolute;
  left: 400px;
  top: 400px;
  z-index: 1000;
}


.intro {
    position: absolute;
    top: 300px;
    left: 30px;
    width: 650px;
    min-height:55px;  
    height:auto !important;  
    line-height: normal;
  }

.introcopy {
    font-family: arial, sans-serif;
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold; 
    text-shadow: 3px 3px  5px #000;
    }
    
   /*--- Homepage Under Text ---*/
   
    
  .graphintro {
    position: absolute;
    top: 365px;
    left: 30px;
    width: 650px;
    min-height:22px;  
    height:auto !important;  
    line-height: normal;
  }
  
    
.graphcopy {
    font-family: arial, sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; 
    text-shadow: 2px 2px  3px #000;
    }
    

/*--- Homepage Text ---*/

/*** Common Layout and Colors ************************************************/

body {
    font-family: helvetica, arial, sans-serif;
    color: #fff;
    background: #561213 url(../img/common/page-bg.jpg) no-repeat 50% 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #923338;
}

a:hover, a:active {
    text-decoration: none;
    color: #411;
}

h1 {
    margin-top: 0;
    font: normal 2.2em "lucida sans";
    letter-spacing: -.05em;
    color: #2c2c2c;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: .50em;
    color: #2c2c2c;
}

.subtitle {
    font-weight: bold;
}

p {
    margin-top: 0;
}

.clearfix {
    clear: both;
    overflow: hidden;
    height: 0;
}

#page-outer {
    margin: 0 auto;
    width: 95%; /* Change container width from 1001px to 95% */
}

/*--- Page Header ---*/

#header {
    position: relative;
    padding: 20px 45px 5px;
}

#header .audience-nav {
    position: absolute;
    top: 0;
    right: 45px;
    max-width: 700px;
}

#header .search-form {
    position: absolute;
    top: 4em;
    right: 45px;
}

/*--- Footer ---*/

#footer {
    position: relative;
    top: 0;
    margin: 0 25px;
    padding: 30px 26px 18px;
    color: #a6a6a1;
    background: #333 url(../img/footer/footer-bg.png) repeat-x;
}

#footer .social-links {
    position: absolute;
    top: 32px;
    right: 26px;
    width: 330px;
    text-align: right;
}

/*--- Main ---*/

#main {
    position: relative;
    zoom: 1;
    margin: 0 25px;
    border: solid 1px #835151;
    border-bottom-width: 0;
    -moz-box-shadow: 0 0 15px #000; /* FF3.5+ */
    -webkit-box-shadow: 0 0 15px #000; /* Saf3.0+, Chrome */
    box-shadow: 0 0 15px #000; /* Opera 10.5, IE 9.0 */
    line-height: 1.6em;
    color: #2c2c2c;
    background: #dcdcd8;
}

.main-content {
    position: relative;
    zoom: 1;
    border: solid 3px #d4c4c4;
}

.main-content-alt {
    background: #353535 url(../img/common/main-content-alt-bg.png) no-repeat;
}

.main-content-footer {
    clear: both;
    padding: 8px 18px;
    text-align: right;
    background: #343434;
}

.main-banner {
    border-bottom: solid 1px #353535;
}

.main-banner img {
    /*display: block;*/
    max-width: 100%; /* @stewartfoss */
}

.banner-overlay {
    position: absolute;
    top: 35px;
    right: 0;
    left: 20px;
}

.banner-overlay h1 {
    margin-bottom: 0;
    color: #fff;
}

.banner-overlap {
    position: relative;
    top: -176px;
    margin-bottom: -176px;
    background: url(../img/common/banner-overlap.png) repeat-x;
}

.banner-overlap .col-outer {
    zoom: 1;
}

.main-leftcol-outer {
    position: relative;
    z-index: 10;
    padding-bottom: 10px;
    background: #eee url(../img/common/main-leftcol-bg.png) repeat-y;
}

.main-leftcol-outer-alt {
    border-top: solid 5px #353535;
}

.main-leftcol {
    float: left;
    width: 20.679320679320679320679320679321%;
    padding-bottom: 40px;
}

.main-maincol {
    margin-left: 20.679320679320679320679320679321%; /* @stewartfoss: 207px; */
    padding-bottom: 40px;
}

.main-maincol-alt {
    background: #f7f7f6 url(../img/sections/news/alt-bg.png) no-repeat
}

.col-narrow {
    margin: 0 0 0 13px;
    width: 220px;
}

.col-double {
    width: 453px;
}


.col-triple {
    width: 800px;
}



.article-aside {
    float: right;
    width: 35.264483627%; /* @stewartfoss: 280px/794px */
}

.article-aside-narrow {
    width: 270px;
}

.article-header {
    padding: 20px 24px 20px 24px;
} 
/*--- padding was 20px 304px 20px 24px;    changed by Jenn ---*/


.article-header h1 {
    margin-bottom: .2em;
}

.article-header .article-functions {
    /*margin-top: -10px;*/
    margin-top: 3px;
}

.article-header-alt {
    padding: 9px 304px 9px 18px;
    background: #190303 url(../img/common/article-header-bg.png) 100% 0 no-repeat;
}

.article-header-alt h1 {
    margin-bottom: .1em;
    color: #fff;
}

.article-header-alt2 {
    position: relative;
}

.article-header-alt2 h1 {
    margin-top: .4em;
    font-style: italic;
    color: #fc2;
}

.article-header-wide {
    zoom: 1;
    padding-right: 20px;
    padding-bottom: 10px;
}

.article-content {
    margin: 0 304px 0 0;
    padding-left: 24px;
}

.article-content-wide {
    margin-right: 280px;
    padding-right: 24px;
}

.article-content-wide2 {
    margin-right: 90px;
    padding-right: 24px;
}

.article-content a, .article-content a:visited {
    font-weight: bold;
}

.article-date, .article-credit {
    font-weight: bold;
    line-height: normal;
    color: #4c4c41;
    margin: 0 0 10px 0; /* Replace depracated .article-credit */
}

.article-credit {
    margin: 0 0 10px 0;
}

.article-text {
    line-height: 1.4em;
}

.header-icon {
    position: absolute;
    top: 6px;
    right: 5px;
}

.header-icon-alt {
    top: 11px;
    right: 11px;
}

.news-feature-area {
    margin: 0 280px 15px 0;
    padding: 10px 18px;
}

.box {
    position: relative;
    margin-bottom: 13px;
    -moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3+, Chrome */
    border-radius: 4px; /* Opera 10.5, IE 9 */
    padding: 5px 12px;
    background: #f1f1ef;
}

.box-banner-overlap {
    margin-top: -25px;
}

.box-title {
    margin-top: 15px;
    padding: 5px 0 10px;
    font: italic 1.3em "lucida sans";
    color: #353535;
}

.box-title:first-child {
    margin-top: 0;
}

.box-title-alt {
    padding: 0 12px 10px;
    border-bottom: solid 1px #dadada;
}

.box-feature-content {
    min-height: 214px;
    font-size: 1.2em;
}

.box-footer {
    font-size: .8em;
    text-align: right;
}

.feature-text {
    font-size: 1.2em;
}

.feature-height1 {
    margin-bottom: 0;
    /*min-height: 256px;*/
}

/*** Primary Components ******************************************************/

/*--- footer content ---*/

.footer-content {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-content p {
    margin: 5px 0 0 0;
    font-size: .9em;
}

.footer-content a, .footer-content a:visited {
    font-weight: bold;
    color: #A6A6A1;
}

.footer-content .vcard {
    margin-top: 0;
    font-size: 1.2em;
}

.footer-content .vcard .org {
    margin-right: 30px;
    font-weight: bold;
    color: #fff;
}

.footer-content .vcard .street-address,
.footer-content .vcard .postal-code {
    margin-right: 30px;
}

/*--- audience navigation ---*/

.audience-nav {
    font: 1.1em "lucida sans";
}

.audience-nav li {
    float: left;
    margin: 0 0 0 12px;
    padding: 20px 5px 3px;
}

.audience-nav li:first-child {
    margin-left: 0;
}

.audience-nav a, .audience-nav a:visited {
    color: #ddd;
}

.audience-nav .selected {
    border: solid 1px #292929;
    border-top-width: 0;
    background: #484848 url(../img/header/audience-nav-selected-bg.png) repeat-x;
}

.audience-nav .selected a, .audience-nav a:hover, .audience-nav a:active {
    color: #fff;
}

/*--- header search ---*/

.search-form {
    margin-top: 20px;
    width: 16em;
}

.search-form .textbox {
    float: left;
    margin: 0;
    border: solid 1px #d6cdcd;
    padding: 3px;
    width: 160px;
    height: 11px;
    font-size: 11px;
    color: #666;
}

.search-form .button {
    margin: 0 0 0 2px;
    float: left;
}

/*--- topic navigation ---*/

#topic-nav {
    margin: 0 auto;
    width: 100%; /* @stewartfoss: width: 951px; */
    height: 50px; /* @stewartfoss: 50px; */
}

#topic-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topic-nav li {
    margin: 0;
    padding: 0;
    float: left;
}

#topic-nav a, #topic-nav a:visited {
    height: 50px;
    outline: none;
    text-indent: -9999px;
    display: block;
}

#topic-nav .selected a {
    background-position: 0 -50px;
}

#topic-nav .about {
    width: 103px;
    background-image: url(http://www.union.edu/img/nav/about.png);
}

#topic-nav .academics {
    width: 142px;
    background-image: url(http://www.union.edu/img/nav/academics.png);
}

#topic-nav .admissions {
    width: 148px;
    background-image: url(http://www.union.edu/img/nav/admissions.png);
}

#topic-nav .studentLife {
    width: 152px;
    background-image: url(http://www.union.edu/img/nav/campus-life-20.png);
}

#topic-nav .athletics {
    width: 127px;
    background-image: url(http://www.union.edu/img/nav/athletics.png);
}

#topic-nav .newsEvents {
    width: 173px;
    background-image: url(http://www.union.edu/img/nav/news-events.png);
}

#topic-nav .giving {
    width: 106px;
    background-image: url(http://www.union.edu/img/nav/giving.png);
}

/*--- subnav ---*/

.subnav {
    list-style-type: none;
    margin: 25px 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.2em;
}

.subnav li {
    margin: 0;
    padding: 7px 12px;
    border-top: solid 1px #d4cbc6;
}

.subnav li:first-child {
    border-top: none;
}

.subnav li a {
    font-weight: bold;
}

.subnav ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.subnav ul li {
    padding: 3px 10px;
    border-top: none;
}

.subnav ul li a {
    font-weight: normal;
    font-size: .9em;
}

.subnav li.selected {
    background: #fff;
}

.subnav li.selected a {
    color: #000;
}

.subnav li.selected ul {
    display: block;
}

.subnav li.selected ul a {
    color: #923338;
}

/*--- breadcrumbs list ---*/

.breadcrumbs-list li {
    margin: 0 0 0 5px;
    padding: 0 0 0 9px;
    font-size: .9em;
    color: #767675;
    text-decoration: underline;
    background: url(../img/common/bullet2.png) 0 50% no-repeat;
}

.breadcrumbs-list li:first-child {
    margin-left: 0;
    padding-left: 0;
    background: none;
}

.breadcrumbs-list a, .breadcrumbs-list a:visited {
    color: #767675; text-decoration: underline;
}

.breadcrumbs-list a:hover, .breadcrumbs-list a:active {
    color: #411;
}

.breadcrumbs-list-alt li, .breadcrumbs-list-alt a, .breadcrumbs-list-alt a:visited {
    color: #aaa;
}

.breadcrumbs-list-alt a:hover, .breadcrumbs-list-alt a:active {
    color: #fff;
}

/*--- breadcrumbs list white ---*/

.crumb-list li {
    margin: 0 0 0 5px;
    padding: 0 0 0 9px;
    font-size: .9em;
    color: #fff;
    text-decoration: underline;
    background: url(../img/common/bullet4.png) 0 50% no-repeat;
}

.crumb-list li:first-child {
    margin-left: 0;
    padding-left: 0;
    background: none;
}

.crumb-list a, .crumb-list a:visited {
    color: #fff; text-decoration: underline;
}

.crumb-list a:hover, .crumb-list a:active {
    color: #fff;
}

.crumb-list-alt li, .crumb-list-alt a, .crumb-list-alt a:visited {
    color: #fff;
}

.crumb-list-alt a:hover, .crumb-list-alt a:active {
    color: #fff;
}



/*** Other Components ********************************************************/

blockquote {
    border: solid 1px #c7c7c7;
    border-width: 1px 0;
    padding: 15px 10px;
    font: italic .9em georgia, times, "times new roman", serif;
    color: #000;
}

cite {
    display: block;
    text-align: right;
}


.separator-left {
    border-left: solid 1px #dcdcd8;
}

.separator-right {
    border-right: solid 1px #dcdcd8;
}

/*--- generic component styles ---*/

.aside-widget {
    display: block;
    margin: 0 auto 20px; 
    width: 220px;
}

.aside-widget-narrow {
    margin: 0 auto 20px;
    /*width: 19.98001998%;  @stewartfoss: 200px/1001px */
}

.aside-widget-news-story {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 200px;
}

.aside-banner-overlap {
    position: relative;
    margin-top: -25px;
}

.article-intro {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #923338;
}



.article-intro2 {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #2c2c2c;
}

/*--- campus social stream icons ---*/

   .icons-image img {
   float: left;
   margin: 6px 5px 1px 1px
}


/*--- Staff Page ---*/

.staff-intro {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #2c2c2c;
}


.staff-image img {
    float: left;
    margin-right: 15px;
}


/*--- post list ---*/

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post-list li {
    margin: 0;
    padding: 8px 0;
    line-height: 1.4em;
}

.post-list-alt li {
    padding: 10px 12px;
    border-bottom: solid 1px #dadada;
}

.post-title {
    font-weight: bold;
    font-size: 1.2em;
}

.post-list-alt2 .post-title {
    font-size: 1em;
}

.post-source {
    font-weight: bold;
    font-size: 1.1em;
}

.post p, .post-list li p {
    margin-bottom: 5px;
}

.post .date, .post-list li .date {
    font-weight: bold;
}

.post .meta, .post-list li .meta {
    margin-top: 3px;
    font-size: .8em;
    line-height: normal;
}

.post-list-alt2 li .meta {
    margin-top: 0;
}

.post, .post-list li {
    overflow: hidden;
}

.post-image {
    float: left;
    margin-right: 15px;
}

.post-image img {
    display: block;
}

a.post-image img, .post-image a img {
    border: solid 1px #000;
}

.post-content {
    overflow: hidden;
}

.post-footer {
    padding: 30px 0;
    text-align: center;
}

.post-pager a {
    margin: 0 2px;
    padding: 0 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: normal;
    text-transform: uppercase;
    background: #dcdcd8;
}

.post-pager .prev {
    background: none;
}

/*--- social links list ---*/

.social-links {
    position: relative;
    overflow: hidden;
}

.social-links .title {
    font: bold italic 1em "lucida sans";
    color: #fc2;
}

/*--- inline icon list ---*/

.inline-icon-list {
    display: inline;
}

.inline-icon-list li {
    margin: 0 0 0 10px;
    padding: 0;
}

.inline-icon-list img {
    vertical-align: middle;
}

/*--- "share" link ---*/

.share-link:link, .share-link:visited {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #9a9a9a;
}

.share-link:hover, .share-link:active {
    color: #fff;
}

/*--- col spifs ---*/

.col-spif {
    width: 200px;
    margin: 15px auto;
}

.col-spif-narrow {
    width: 178px;
}

.spif-image img {
    display: block;
    border: solid 3px #b9b9b9;
}

.spif-mixed {
    padding: 10px 15px;
    background: #f1f1ef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3em;
}

.spif-mixed img {
    display: block;
    margin-bottom: 8px;
}

.spif-mixed p {
    margin: 0;
}

.spif-header {
    padding-bottom: 8px;
    font: italic 1.5em "lucida sans";
    text-align: center;
}

.spif-footer .meta {
    font-weight: bold;
    font-size: .9em;
    line-height: normal;
}

/*--- image with caption ---*/
/*--- image with caption admissions ---*/

.image-with-caption2 {
    
    top: 100px;
    right: 300px;
    float: right;
    width: 150px;
    margin: 3px 0 10px 20px;
    padding: 6px;
    border: solid 1px #888899;
    background: #fff;
    
   }

.image-with-caption2 .caption {
    padding: 5px;
    font-size: .9em;
    line-height: 1.2em;
    color: #000;
}


/*--- image with caption admissions ---*/

.image-with-caption {
    float: left;
    /*width: 150px;*/
    margin: 3px 10px 10px 0px;
    padding: 6px;
    border: solid 1px #888899;
    background: #fff;
}


.image-with-caption-large {
    float: none;
    width: 420px;
    margin: 3px 0 10px 0;
    padding: 6px;
    border: solid 1px #888899;
}

.image-with-caption-large img { width: 420px;}

.image-with-caption img { /* expects images to be 150px wide */
    display: block;
}

.image-with-caption .caption {
    padding: 5px;
    font-size: .9em;
    line-height: 1.2em;
    color: #000;
}

.image-with-caption-large .caption {
    color: #7f7f7f;
}

.image-with-caption .caption a {
    font-weight: normal;
}

/*--- events list ---*/

.events {
    border-top: solid 13px #ffdc7a;
    background: #fff;
}

.events-header {
    font-weight: bold;
    padding: 8px 10px;
}

.events-header .title {
    font: bold italic 1.1em "lucida sans";
}

.events ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.events li {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: .9em;
    line-height: 1.2em;
}

.events .date {
    padding: 2px 10px 2px 7px;
    border-left: solid 4px #dcdcdc;
    font-weight: bold;
    background: #feecbb;
}

.events p {
    margin: 0 15px 0 0;
    padding: 8px 10px 15px;
}

.events-footer {
    padding: 8px 10px;
}

.events-footer a, .events-footer a:visited {
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
}

/*--- feature widget ---*/

.feature-widget {
    position: relative;
    color: #fff;
    background: #353535 url(../img/common/feature-widget-bg.png) repeat-x;
}

.feature-widget-alt {
    background: #373735;
}

.feature-header {
    padding: 10px 12px;
}

.feature-footer {
    padding: 0 12px 5px;
}

.feature-footer .inline-list li {
    margin-right: 4px;
    font-size: .8em;
}

.feature-header a, .feature-header a:visited,
.feature-footer a, .feature-footer a:visited {
    color: #fc2;
}

.feature-header a:hover, .feature-header a:active,
.feature-footer a:hover, .feature-footer a:active {
    color: #fea;
}

.feature-widget .feature-content {
    padding: 0 12px 10px;
}

.feature-widget .title {
    font: italic 1.3em "lucida sans";
    color: #fc2;
}

.feature-widget .subtitle {
    font-weight: bold;
}

.feature-widget .feature-content img {
    display: block;
}

.feature-submit {
    position: absolute;
    right: 5px;
    bottom: -15px;
}

/*--- media player ---*/

.article-media-player {
    margin: 15px 0 15px 24px;
}

/*--- links list ---*/

.links-list, .gateway-col .box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
}

.links-list li, .gateway-col .box ul li {
    margin: 0;
    padding: 5px 13px;
    font-weight: bold;
    background: url(../img/common/bullet2.png) 0 .7em no-repeat;
}

.links-list-alt li {
    border-top: solid 1px #cfcfce;
}

.links-list-alt2 li {
    background: url(../img/common/bullet3.png) 0 .7em no-repeat;
}

.links-list-alt3 li {
    margin-bottom: 3px;
    background: url(../img/common/bullet4.png) 0 .7em no-repeat;
}

.links-list-alt3 a, .links-list-alt3 a:visited {
    color: #fff;
}

/*--- field list ---*/

.field-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.field-list li {
    margin: 0 0 3px;
}

.wide-field-list input[type="text"] {
    width: 98%;
    height: .9em;
    padding: .2em;
    font-size: .9em;
    color: #666;
}

/*--- small-tabs ---*/

.small-tab-list {
    display: block;
    overflow: hidden;
}

.small-tab-list li {
    margin: 0;
    padding: 0;
    float: left;
}

.small-tab-list a:link, .small-tab-list a:visited {
    height: 19px;
    outline: none;
    text-indent: -9999px;
    display: block;
}

.small-tab-list .selected {
    background-position: 0 -19px;
}

.small-tab-list .www {
    width: 39px;
    background-image: url(../img/sections/widgets/tab-www.png);
}

.small-tab-list .people {
    width: 44px;
    background-image: url(../img/sections/widgets/tab-people.png);
}

.small-tab-list .news {
    width: 39px;
    background-image: url(../img/sections/widgets/tab-news.png);
}

.small-tab-list .directory {
    width: 56px;
    background-image: url(../img/sections/widgets/tab-directory.png);
}

.small-tab-list .library {
    width: 42px;
    background-image: url(../img/sections/widgets/tab-library.png);
}

/* Color Share this text */
.stButton .chicklets {
color:#9a9a9a;
}

.small-tab-body {
    padding: 18px 12px;
    background: #1b1b19;



}

/*--- timeline ---*/

.timeline {
}

.timeline ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.timeline li {
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 1.2em;
}

.timeline .date {
    font-size: 1.1em;
    color: #2c2c2c;
}

/*--- news media picker ---*/

.news-media-picker {
    position: relative;
    background: url(../img/sections/news/news-media-picker-bg.png) repeat-x;
}

.news-media-picker .title {
    margin-bottom: 8px;
    font: italic 1.3em "lucida sans";
    color: #fc2;
}

.news-media-picker .picker-nav {
    position: absolute;
    top: 15px;
    right: 16px;
}

.picker-nav {
    overflow: hidden;
}

.picker-nav a {
    float: left;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: url(../img/common/picker-nav-off.png) no-repeat;
}

.picker-nav .activeSlide {
    background: url(../img/common/picker-nav-on.png) no-repeat;
}

/*--- primary events list ---*/

.primary-events h1 {
    margin: -6px 0 0;
}

.primary-events h2 {
    margin: 0 0 15px;
    font-weight: bold;
    color: #4c4c4c;
}

.primary-events ul {
    margin: 0 0 10px;
    padding: 0;
    list-style-type: none;
    line-height: normal;
}

.primary-events li {
    margin: 0;
    padding: 8px 0;
}

.primary-events .event-name {
    font-weight: bold;
    font-size: 1.2em;
}

.primary-events-footer a, .primary-events-footer a:visited {
    text-transform: uppercase;
}

/*--- highlights list ---*/

.highlights-list {
    margin: 20px 0 40px 20px;
    list-style-type: none;
}

.highlights-list li {
    margin-bottom: 15px;
}

/*--- article functions ---*/

.article-functions {
    border-bottom: solid 1px #dadada;
    padding-bottom: 5px;
    text-align: right;
}

/*--- button list ---*/

.inline-button-list {
    margin: 0 ;
    padding: 0;
    list-style-type: none;
}

.inline-button-list li {
    margin: 0;
    padding: 0;
    display: inline;
    border:1px solid #EEEEEE;
}

.inline-button-list a, .inline-button-list a:visited {
    padding: 2px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.1em;
    background: #fff;
}

/*--- tabs ---*/

.tabs-full {
    position: relative;
    margin: 0 0 10px 12px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    width: 660px;
    background: #353535 url(../img/common/tabs-bg.png) repeat-x;
}

.tabs-full .tab-nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 180px;
    list-style-type: none;
}

.tabs-full .tab-nav li {
    margin: 0;
    border-bottom: solid 1px #515151;
    font: italic 1.3em "lucida sans";
    color: #fff;
}

.tabs-full .tab-nav a, .tabs-full .tab-nav a:visited {
    display: block;
    outline: none;
    padding: 7px 18px;
    color: #fff;
}

.tabs-full .tab-content {
    position: relative;
    top: -25px;
    overflow: hidden;
    margin-bottom: -17px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 20px;
    width: 432px;
    min-height: 500px;
    background: #fff;
    /* IE7 hacks */
    *float: left;
    *margin-bottom: -22px;
}

/* Safari/Chrome hacks */
@media all and (-webkit-min-device-pixel-ratio: 0) { .tabs-full .tab-content { float: left; } } 

/* jQuery UI classes */
.ui-tabs-nav li a:hover, .ui-tabs-nav li a:active {
    color: #fc3;
    text-decoration: none;
}

.ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs-nav li.ui-tabs-selected a:visited,
.ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #fc3;
    background: #3f3f3f url(../img/common/sidetab-selected-bg.png) repeat-y;
}

/*--- slides ---*/


.small-slides-outer,
.banner-slides-outer,
.news-slides-outer,
.home-slides-outer {
    position: relative;
}

.small-slides-outer .small-slides {
    width: 198px;
    height: 140px;
    overflow:hidden;
}

.small-slides-outer .small-slides img {
    display: block;
    margin: 0 auto;
    width: 198px;
    /*height: 140px;*/
}

.small-slides-outer .news-photo-gallery img {
    display: block;
    margin: 0 auto;
    width: 177px;
    /*height: 125px; */
}

.small-slides-outer .slide-nav-left {
    position: absolute;
    left: 0;
    bottom: 70px;
}

.small-slides-outer .slide-nav-right {
    position: absolute;
    right: 0;
    bottom: 70px;
}

.small-slides-outer .slide-nav-right-ns {
    position: absolute;
    right: 0;
    top: 90px;
}

.small-slides-outer .slide-nav-left-ns {
    position: absolute;
    left: 0;
    top: 90px;
}

.banner-slides-outer .banner-slides img {
    display: block;
    max-width: 100%; /* change width: 943px; to max-width */
    height: 149px;
}

.banner-slides-outer .banner-slide-nav-left {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 70px;
}

.banner-slides-outer .banner-slide-nav-right {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 70px;

}

.newsVid {
position:absolute;
left: 770px;
top:366px;


}

.news-slides-outer .news-slides img {
    display: block;
    width: 420px;
    height: 283px;
}

.news-slides .slide {
    position: relative;
}

.news-slides .slide .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    background: url(../img/common/bg-trans.png);
    color: #fff;
}

.news-slides .slide .caption .date {
    display: block;
    font-weight: bold;
}

.news-slides .slide .caption .slide-title {
    font-weight: bold;
    font-size: 1.7em;
}

.news-slides .slide .caption a, .news-slides .slide .caption a:visited {
    color: #fc3;
}

.news-slides .slide .caption a:hover, .news-slides .slide .caption a:active {
    color: #fea;
}

.news-slides-outer .news-slide-nav-left {
    position: absolute;
    z-index: 10;
    left: 18px;
    bottom: 160px;
}

.news-slides-outer .news-slide-nav-right {
    position: absolute;
    z-index: 10;
    right: 18px;
    bottom: 160px;
}

.home-slides-outer .home-slides img {
    display: block;
    width: 943px;
    height: 600px;
}

.home-slides-outer .home-slide-nav-left {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 280px;
    cursor: pointer;
}

.home-slides-outer .home-slide-nav-right {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 280px;
    cursor: pointer;
}

.slide-popup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 75px;
    color: #fff;
   font-size: 10pt;
   
    background: url(../img/common/bg-trans4.png);
}

.home-slides-outer .home-slides .slide-popup img {
    width: auto;
    height: auto;
}

.slide-popup .title {
    margin-bottom: 10px;
    font: italic 1.6em "lucida sans";
    color: #fc3;
}

.popup-media {
    float: right;
    margin: 35px 60px 0 50px;
    padding: 9px;
    background: #000;
}

.popup-copy-outer {
    overflow: hidden;
}

.popup-copy {
    padding-left: 14px;
}

.popup-footer {
    clear: both;
    padding-top: 40px;
    text-align: center;
    font: italic 1.2em "lucida sans";
}

.popup-footer .inline-list li {
    margin-left: 20px;
}

.popup-footer .inline-list a, .popup-footer .inline-list a:visited {
    color: #fc3;
}

.slide-popup .btn-close {
    position: absolute;
    top: 65px;
    right: 76px;
    cursor: pointer;
}

/* Color Share this text */
.main-content-footer .stButton .chicklets {
color:#9a9a9a;
}

/* Form Padding Margin removal for search fields */

form{
padding:0px;
margin:0px;
}

/* home news ticker */
.home-news-ticker {
    margin-left: 25px; 
    position: relative;
    width: 951px;
    height: 33px;
    background-image: url(../img/news-ticker/ticker-bg.jpg);
}

.home-news-ticker .article-title {
    position: absolute; top: 9px; left: 150px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    width: 615px;
    height: 16px;
}

.home-news-ticker .article-title a { color: #ffffff; }


.home-news-ticker .more-news img {border: 0px;}
.home-news-ticker .more-news { margin-left: 10px;}
.home-news-ticker .left-arrow { position: absolute; top: 12px; left: 834px;}
.home-news-ticker .right-arrow { position: absolute; top: 12px; left: 874px;}
.home-news-ticker .rss-link {position: absolute; top: 12px; left: 906px;}
.home-news-ticker .left-arrow img {border: 0px;}
.home-news-ticker .right-arrow img {border: 0px;}
.home-news-ticker .rss-link img {border: 0px;}
.home-news-ticker .more-link { color: #ffcc22; font-family: Lucida, arial, sans-serif;}
.home-news-ticker a.more-link { color: #ffcc22; text-decoration: none;}
.home-news-ticker a:hover.more-link { text-decoration: underline;}


img { behavior: url(../_scripts/iepngfix.htc) }


/*  Jennifer Carr added below style 3/2011 for iOS flash widget issue */

.ishow {
    display:none;
    }
.blidget {
    border 1px solid #000000;
    margin: 0 auto 20px; 
    width: 220px;
}


.officename {
    color: #ffcc22;
    font-weight: bold;
}


a[href$='.doc'], a[href$='.rtf'] {
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-doc.gif) no-repeat center right;

}


a[href$='.txt'] {
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-txt.gif) no-repeat center right;
}

a[href$='.xls'] {
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-xls.gif) no-repeat center right;
}

a[href$='.pps'] { 
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-pps.gif) no-repeat center right;
}

a[href$='.pdf'] { 
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-pdf2.gif) no-repeat center right;

}

a[href$='.fla'], a[href$='.swf'] { 
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-flash.gif) no-repeat center right;

}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] { 
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-archive.gif) no-repeat center right;
}


a[href^="http://bit.ly"], a[href^="https://www.gallagherkoster.com/"] {
    padding: 5px 20px 5px 0;
    background: transparent url(http://www.union.edu/img/link-icons/icon-external.gif) no-repeat center right;
}


a[href*="tumblr.com"], a[href*="blogspot.com"], a[href*="tumblr.com"], a[href*="dailymotion.com"], a[href*="wufoo.com"], a[href*="formspring.me"],  a[href*="scribd.com"],  a[href*="uniondining.com"] { 
padding: 5px 20px 5px 0;
background: transparent url(http://www.union.edu/img/link-icons/icon-external.gif) no-repeat center right;
}


.imageLink {
    padding-right: 0px !important;
    background: none !important;
}


    image.givesmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/*--- quote  ---*/

.quotes {
  display:block;
  width:35px;
  height:31px;
  position:absolute;
  left: 210px;
  top:275px;
  z-index:-1;
}

/*--- slides ---*/

    /* Easy Slider Styles */
    
       /* image replacement */
       
        .graphic, #prevBtn, #nextBtn{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
    


/* Easy Slider */

    #slider{}   
    #slider ul, #slider li{
        margin:0;
        padding:0;
        list-style:none;
        }
    #slider li{ 
        /* 
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
        */ 
        width:600px;
        height:233px;
        overflow:hidden; 
        }   
    #prevBtn, #nextBtn{ 
        display:block;
        width:20px;
        height:20px;
        position:absolute;
        left: 13px;
        top:150px;
        }   
    #nextBtn{ 
        left:420px;
        }                                                       
    #prevBtn a, #nextBtn a{  
        display:block;
        width:20px;
        height:20px;
        background:url(http://www.union.edu/gateway/img/nav-arrow2-left.png) no-repeat 0 0; 
        }   
    #nextBtn a{ 
        background:url(http://www.union.edu/gateway/img/nav-arrow2-right.png) no-repeat 0 0;    
        }                                               

/* // Easy Slider */

/* SINGLE PROGRESS BAR */

   bardisplay {
      display:block;
       left: 600px;
       top:400px;
    
    }
    

.progressBar{
    width:216px;
    height:41px;
    background:url(http://www.union.edu/giving/challenge/img/bg-bar.gif) no-repeat 0 0;
    position:relative;
}
.progressBar span{
    position:absolute;
    display:block;
    width:200px;
    height:25px;
    background:url(http://www.union.edu/giving/challenge/img/bar.gif) no-repeat 0 0;
    top:8px;
    left:8px;
    overflow:hidden;
    text-indent:-8000px;
}
.progressBar em{
    position:absolute;
    display:block;
    width:200px;
    height:25px;
    background:url(http://www.union.edu/giving/challenge/img/bg-cover.gif) repeat-x 0 0;
    top:0;
}



/* Kevin Zink added below style for Google Mini Search results (without having to edit the XSLT on the Google Mini Box*/
.keywordMatch { background-color: #ffffff; padding: 0px; display: inline-block; border: 1px solid #923338; width: 896px;}
.article-content .keywordMatch tr td { background-color: #ffffff; padding: 10px; }
.article-content div p.g a:hover,.article-content div p.g a:hover span.l { text-decoration: none !important; color: #411 !important; }